
@{
    ViewData["Title"] = "about";
}
    <html>
    <head>

        <title>High Point Consulting - About Us</title>



        <style>
            <!--
            body {
                margin: 0px;
            }

            td {
                font: normal 10pt Verdana;
                color: #000040;
            }

            .main {
                font: normal 10pt Verdana;
                color: #000040;
            }

            .nav {
                font: normal 14pt Arial;
                color: white;
            }

            .topnav {
                font: bold 7pt Tahoma;
                color: white;
            }

            .slogan {
                font: normal 12pt Arial;
                color: #000040;
            }

            .clients {
                font: bold 12pt Arial;
                color: #000070;
                text-decoration: underline;
            }

            a.nav:link {
                text-decoration: none;
                color: white;
            }

            a.nav:visited {
                text-decoration: none;
                color: white;
            }

            a.nav:hover {
                text-decoration: none;
                color: white;
            }

            a.nav:active {
                text-decoration: none;
                color: white;
            }

            a:link {
                color: blue;
            }

            a:visited {
                color: blue;
            }

            a:hover {
                color: blue;
            }

            a:active {
                color: blue;
            }

            .quotes {
                font: bold 11pt Arial;
                color: #00040;
            }

            .footer {
                font: normal 7pt Tahoma;
            }
            -->
        </style>

        <script async="" src="//www.google-analytics.com/analytics.js"></script>
        <script>
<!--
function mouseovertd (o){
	o.style.borderStyle="solid";
	o.style.background="#000073";
	o.style.cursor="hand";
	o.style.borderColor="white";
}

function mouseouttd (o){
	o.style.background="#FF8C00";
	o.style.borderColor="#FF8C00";
}
-->
        </script>

    </head>

    <body bgcolor="white">
        <table width="800" height="100%" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                    <td width="140" align="right" valign="top" bgcolor="#FF8C00">
                        <img src="/images/hpca.png" width="122" height="122"><p>
                            <table width="100%" height="100%" cellpadding="2" cellspacing="0">
                                <tbody>
                                    <tr height="160">
                                        <td align="center" valign="top">
                                            <table width="100%" cellpadding="5" border="1" bordercolor="#FF8C00">
                                                <tbody>
                                                    <tr height="20"><td align="center" onmouseout="mouseouttd(this)" onmouseover="mouseovertd(this)" onclick="javascript:location.href='/Home/main'"><a href="/Home/main" class="nav">Home Page</a></td></tr>
                                                    <tr height="20"><td align="center" onmouseout="mouseouttd(this)" onmouseover="mouseovertd(this)" onclick="javascript:location.href='/Home/services'"><a href="/Home/services" class="nav">Our Services</a></td></tr>
                                                    <tr height="20"><td align="center" onmouseout="mouseouttd(this)" onmouseover="mouseovertd(this)" onclick="javascript:location.href='/Home/about'" style="border-style: solid; background: rgb(255, 140, 0); cursor: pointer; border-color: rgb(255, 140, 0);"><a href="/Home/about" class="nav">About Us</a></td></tr>
                                                    <tr height="20"><td align="center" onmouseout="mouseouttd(this)" onmouseover="mouseovertd(this)" onclick="javascript:location.href='/Home/services'" style="border-style: solid; background: rgb(255, 140, 0); cursor: pointer; border-color: rgb(255, 140, 0);"><a href="/Home/services" class="nav">Contact Us</a></td></tr>
                                                    <!--
                                                <tr height=20><td align=right onmouseout="mouseouttd(this)" onmouseover="mouseovertd(this)" onclick="javascript:location.href='mailto:coach@theworks.com'"><a href="mailto:coach@theworks.com" class=nav>Contact Us</a></td></tr>
                                                <tr height=20><td align=right onmouseout="mouseouttd(this)" onmouseover="mouseovertd(this)" onclick="javascript:location.href='/sites/'"><a href="/sites/" class=nav>web sites</a></td></tr>
                                                -->
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr height="500">
                                        <td align="center" valign="middle">
                                            <table width="95%" cellpadding="5" cellspacing="0" border="2" bordercolor="#000073">
                                                <tbody>
                                                    <tr>
                                                        <td bgcolor="white" align="center" class="quotes">
                                                            <script language="JavaScript">
			<!--
			var randomnumber=Math.floor(Math.random()*18);
			if (randomnumber==0)
			{
			document.writeln("\"Securing profitability and personal fulfillment\"");
			}
			else if (randomnumber==1)
			{
			document.writeln("\"A business is only as successful as the success of it's people\"");
			}
			else if (randomnumber==2)
			{
			document.writeln("\"Many opportunities for improvement are hidden, what we do is turn on the light\"");
			}
			else if (randomnumber==3)
			{
			document.writeln("\"Top performing people make for a top performing company\"");
			}
			else if (randomnumber==4)
			{
			document.writeln("\"Success begins with leadership. Great success begins with great leadership\"");
			}
			else if (randomnumber==5)
			{
			document.writeln("\"Improved success begins with improved leadership\"");
			}
			else if (randomnumber==6)
			{
			document.writeln("\"New resources create new opportunities\"");
			}
			else if (randomnumber==7)
			{
			document.writeln("\"The best ideas about how to improve performance come from the people who do the performing\"");
			}
			else if (randomnumber==8)
			{
			document.writeln("\"Combining a skilled outside perspective and a focus on coaching the potential within people, we are able to achieve results otherwise not possible.\"");
			}
			else if (randomnumber==9)
			{
			document.writeln("\"It doesn't have to be broke to make it better\"");
			}
			else if (randomnumber==10)
			{
			document.writeln("\"Most any consulting organization can help you make more money. We can help you be more successful.\"");
			}
			else if (randomnumber==11)
			{
			document.writeln("\"We don't just help you build a more successful business, we help you become a more successful human being.\"");
			}
			else if (randomnumber==12)
			{
			document.writeln("\"The key to business success is to be a successful human being\"");
			}
			else if (randomnumber==13)
			{
			document.writeln("\"To make a living is no longer enough. Work has to make a life.\"<br>-Peter Drucker Management Expert.");
			}
			else if (randomnumber==14)
			{
			document.writeln("\"Embodied in the people of every organization is a great wealth of under-utilized talent, passion and creativity that can be used to keep the organization at the High Point of its performance.\"");
			}
			else if (randomnumber==15)
			{
			document.writeln("\"Any business Plan that does not incorporate the Higher Aspirations of the people needed to execute the plan is incomplete.\"");
			}
			else if (randomnumber==16)
			{
			document.writeln("\"Creating a corporate climate where people develop their potential is a significant and lasting contribution to all society.\"<br>-Judith A. Redwine, Chancellor - State Center Community College District");
			}
			else if (randomnumber==17)
			{
			document.writeln("\"The ability to learn faster than your competitors may be the only sustainable competitive advantage.\"<br>-Arie De Geus, Royal Dutch Shell");
			}
			-->
                                                            </script>"A business is only as successful as the success of it's people"

                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center" valign="middle">
                                            <table width="95%" cellpadding="5" cellspacing="0" border="2" bordercolor="#000073">
                                                <tbody>
                                                    <tr>
                                                        <td bgcolor="white" align="center" class="quotes">
                                                            <script language="JavaScript">
			<!--
			var randomnumber=Math.floor(Math.random()*18);
			if (randomnumber==0)
			{
			document.writeln("\"Securing profitability and personal fulfillment\"");
			}
			else if (randomnumber==1)
			{
			document.writeln("\"A business is only as successful as the success of it's people\"");
			}
			else if (randomnumber==2)
			{
			document.writeln("\"Many opportunities for improvement are hidden, what we do is turn on the light\"");
			}
			else if (randomnumber==3)
			{
			document.writeln("\"Top performing people make for a top performing company\"");
			}
			else if (randomnumber==4)
			{
			document.writeln("\"Success begins with leadership. Great success begins with great leadership\"");
			}
			else if (randomnumber==5)
			{
			document.writeln("\"Improved success begins with improved leadership\"");
			}
			else if (randomnumber==6)
			{
			document.writeln("\"New resources create new opportunities\"");
			}
			else if (randomnumber==7)
			{
			document.writeln("\"The best ideas about how to improve performance come from the people who do the performing\"");
			}
			else if (randomnumber==8)
			{
			document.writeln("\"Combining a skilled outside perspective and a focus on coaching the potential within people, we are able to achieve results otherwise not possible.\"");
			}
			else if (randomnumber==9)
			{
			document.writeln("\"It doesn't have to be broke to make it better\"");
			}
			else if (randomnumber==10)
			{
			document.writeln("\"Most any consulting organization can help you make more money. We can help you be more successful.\"");
			}
			else if (randomnumber==11)
			{
			document.writeln("\"We don't just help you build a more successful business, we help you become a more successful human being.\"");
			}
			else if (randomnumber==12)
			{
			document.writeln("\"The key to business success is to be a successful human being\"");
			}
			else if (randomnumber==13)
			{
			document.writeln("\"To make a living is no longer enough. Work has to make a life.\"<br>-Peter Drucker Management Expert.");
			}
			else if (randomnumber==14)
			{
			document.writeln("\"Embodied in the people of every organization is a great wealth of under-utilized talent, passion and creativity that can be used to keep the organization at the High Point of its performance.\"");
			}
			else if (randomnumber==15)
			{
			document.writeln("\"Any business Plan that does not incorporate the Higher Aspirations of the people needed to execute the plan is incomplete.\"");
			}
			else if (randomnumber==16)
			{
			document.writeln("\"Creating a corporate climate where people develop their potential is a significant and lasting contribution to all society.\"<br>-Judith A. Redwine, Chancellor - State Center Community College District");
			}
			else if (randomnumber==17)
			{
			document.writeln("\"The ability to learn faster than your competitors may be the only sustainable competitive advantage.\"<br>-Arie De Geus, Royal Dutch Shell");
			}
			-->
                                                            </script>"The best ideas about how to improve performance come from the people who do the performing"

                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </p>
                    </td>
                    <td width="12" valign="top" background="/images/shadow.png">
                        <img src="/images/hpcb.png" width="12" height="122">
                    </td>
                    <td align="left" valign="top">
                        <table width="100%" cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td width="100" align="left">
                                        <img src="/images/hpcc.png" width="116" height="122">
                                    </td>
                                    <td align="center" valign="middle">
                                        <table width="450" height="32" cellpadding="0" cellspacing="0" align="center">
                                            <tbody>
                                                <tr bgcolor="#000073">
                                                    <td width="5"><img src="/images/nav-left.gif"></td>
                                                    <td>&nbsp;</td>
                                                    <td width="135" onclick="location.href='/Home/services#needsassessment'" align="center" class="topnav" nowrap="">Needs Assessment</td>
                                                    <td width="135" onclick="location.href='/Home/about#asap'" align="center" class="topnav" nowrap="">Strategic Planning &amp; Implementation</td>
                                                    <td width="135" onclick="location.href='/Home/services#quality'" align="center" class="topnav" nowrap="">Quality &amp; Productivity Improvement</td>
                                                    <td>&nbsp;</td>
                                                    <td width="5"><img src="/images/nav-right.gif"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <br>
                                        <table width="400" height="32" cellpadding="0" cellspacing="0" align="center">
                                            <tbody>
                                                <tr bgcolor="#000073">
                                                    <td width="5"><img src="/images/nav-left.gif"></td>
                                                    <td>&nbsp;</td>
                                                    <td width="90" onclick="location.href='/Home/services#marketing'" align="center" class="topnav" nowrap="">Marketing</td>
                                                    <td width="90" onclick="location.href='/Home/services#leadershipdevelopment'" align="center" class="topnav" nowrap="">Leadership Development</td>
                                                    <td width="90" onclick="location.href='/Home/about#teambuilding'" align="center" class="topnav" nowrap="">Team Building</td>
                                                    <td width="90" onclick="location.href=/Home/'about#motivation'" align="center" class="topnav" nowrap="">Motivation</td>
                                                    <td>&nbsp;</td>
                                                    <td width="5"><img src="/images/nav-right.gif"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <br>
                        <table width="98%" cellpadding="0" cellspacing="0" align="center">
                            <tbody>
                                <tr>
                                    <td align="left" valign="top" class="main">




                                        <p align="center">

                                            <font class="slogan">

                                                <a name="ourphilosophy"><b>Our Philosophy</b></a>

                                            </font>

                                        </p><hr size="2" color="#000040">

                                        <p>
                                            <b><u>Business Success Defined</u></b>

                                        </p><p>
                                            &nbsp;&nbsp;&nbsp;&nbsp;There is more to business success than market share, productivity, or even profitability. While profits are an essential element, they fail to measure success in terms of the human experience. Which, if you think about it, is the real driving force behind business success.

                                            <br>&nbsp;&nbsp;&nbsp;&nbsp;When it comes down to what's truly important, both in terms of profitability and the human experience, success is about the role business plays in enriching people's lives. When business is focused on enriching people's lives, customers want to come back, employees are wholehearted in their performance, venders are eager to serve and business ownership takes on a whole new meaning and significance. All of which, in turn, improves the performance and profitability of the business.



                                        </p><p>
                                            <a name="humanpotentialfactor"><b><u>The Human Potential Factor</u></b></a>

                                        </p><p>
                                            &nbsp;&nbsp;&nbsp;&nbsp;All aspects of business success, from marketing to operations and administration, are wholly dependent on the performance of people and the uniquely human attributes only they can provide.

                                            <br>&nbsp;&nbsp;&nbsp;&nbsp;Within every human being of every organization, is a powerful reservoir of underutilized talent, passion and creativity. In addition, every human being possesses an innate desire and ability to learn and grow. Combined, these form a great wealth of unrealized human potential. When properly utilized as a business development resource, this force expands the organization's opportunity for greater success.

                                            <br>&nbsp;&nbsp;&nbsp;&nbsp;Therefore, we believe that the full potential success of any organization lies within the potential of its people. This is the Human Potential Factor™ of business success and is the primary resource we draw on in our work.



                                        </p>
                                    </td>

                                    <td width="8">&nbsp;</td>

                                    <td width="170" valign="top">

                                        <table width="100%" height="450" cellpadding="0" cellspacing="0" border="1" bordercolor="silver">

                                            <tbody>
                                                <tr>

                                                    <td align="center" valign="middle">

                                                        <font class="clients">Our Clients</font>

                                                        <hr size="2" width="92%" color="silver">

                                                        <img src="/images/photo-ca_ag_quest.jpg">

                                                        <br><img src="/images/photo-pnm_machining.jpg">

                                                        <br><img src="/images/photo-heintz_business_management.jpg">

                                                        <br><img src="/images/BK_TEKA_front .jpg">

                                                    </td>

                                                </tr>

                                            </tbody>
                                        </table>

                                    </td>

                                </tr>

                                <tr>

                                    <td colspan="3">

                                        <br>



                                        <p>
                                            <b><u><a name="teambuilding">Team Performance and Common Purpose</a></u></b>

                                        </p><p>
                                            &nbsp;&nbsp;&nbsp;&nbsp;Individual people making individual choices are the cellular building blocks of any business organization.  It is at this level of the individual that people choose the quality of their performance and the spirit of their relationship with others. It is the collective will of individuals that creates the operative goals, purpose and performance of the organization.  No organization can sustain its competitive edge in the new economy without the willful and passionate choice of individuals joining together in a common purpose.

                                            <br>&nbsp;&nbsp;&nbsp;&nbsp;We believe that it is possible to create a business culture, a way of doing business, that greatly enhances the individual's opportunity, ability and desire to join with others in common purpose and the High Point of team performance.



                                        </p><p>
                                            <b><u><a name="motivation">The Well Motivated Work Force</a></u></b>

                                        </p><p>
                                            &nbsp;&nbsp;&nbsp;&nbsp;We hold that the workplace has a potential for meaning and significance beyond monetary importance and that personal fulfillment and satisfaction are key ingredients of having a well motivated workforce.  When people experience personal fulfillment and satisfaction from their life at work, they are motivated with wholehearted enthusiasm to join with others in achieving extraordinary results. Which, in turn, elevates the organization to the High Point of its success.

                                            <br>&nbsp;&nbsp;&nbsp;&nbsp;We believe it is a critical function of business leadership and management to provide all personnel, from CEO's and Owners to the newly hired, the guidance and support that enables them to experience greater personal fulfillment and satisfaction from their life work. By finding out what brings people true meaning and significance in their life at work, we tap into a more powerful form of motivation, the enthusiasm of the human spirit.



                                        </p><p>
                                            <a name="cca"><b><u>The Client Centered Approach</u></b></a>

                                        </p><p>
                                            &nbsp;&nbsp;&nbsp;&nbsp;The most powerful source of information on how to help people succeed lies within them. The Client Centered Approach begins with a genuine interest in the client's values, aspirations and real needs. It suspends the attitude of being the expert with the answers and allows the client's experience, knowledge and intuitive wisdom to define the direction and focus of how to help them succeed.

                                            <br>&nbsp;&nbsp;&nbsp;&nbsp;The business improvement process draws on more than just the rational and cognitive faculties of the mind. The intuitive and subliminal mind are an active and essential part of the process. The Client Centered Approach activates intuitive listening skills that listen empathetically as well as intellectually. Hearing the deeper meaning in what the client has to say, creates a synergy of wisdom and insight from both parties.

                                            <br>&nbsp;&nbsp;&nbsp;&nbsp;The predefined nature of any well planned process tends to overlook new information or change in circumstances. This often results in loss of important information needed to guide and inspire the improvement process. The Client Centered Approach is sensitive to the subtle clues of change and integrates new information as it shows up. This enables the improvement process to achieve results otherwise not possible.

                                            <br>&nbsp;&nbsp;&nbsp;&nbsp;The Client Centered Approach is fundamental to all of our services and is the foundation upon which our work is performed.



                                        </p><p>
                                            <a href="#top" class="">Return to Top</a>



                                        </p><p align="center">

                                            <font class="slogan">

                                                <a name="ourmethods"><b>Our Methods</b></a>

                                            </font>

                                        </p><hr size="2" color="#000040">

                                        <p>
                                            &nbsp;&nbsp;&nbsp;&nbsp;Most consulting organizations are in the business of providing you with more information and technology. Here at High Point Consulting, we are in the business of helping you make better use of the information and technology you already have.  The HIGH POINT CONSULTING SYSTEM™ consists of a unique and powerful combination of coaching and consulting methods that leverage both your technical and human resources for greater success.

                                            <br>&nbsp;&nbsp;&nbsp;&nbsp;Whether we are doing process analysis, goal setting, strategic planning or implementation coaching, working with a team or one to one, our system harnesses the under-utilized talent, passion and creativity within the people of your organization to get the job done. This system combines the advantages of a skilled outside observer with the assets of your human resources to achieve results otherwise not possible.

                                            <br>&nbsp;&nbsp;&nbsp;&nbsp;The High Point Consulting System™ is not industry specific. It is applicable to any business that is dependent on the performance of people and the uniquely human abilities only they can provide.

                                            <br>&nbsp;&nbsp;&nbsp;&nbsp;It is an adaptable system. The methods and business areas we work with are determined by your individual situation and the goals and aspirations you have for your business. This assures you that we are responding to your needs and are focused on what is truly most important to you about the success of your business.

                                            <br>&nbsp;&nbsp;&nbsp;&nbsp;The heart and basic framework of THE HIGH POINT CONSULTING SYSTEM™ is an action based strategy development and implementation process called ASAP™. It harnesses the desire, will and creativity of the participating parties to identify  opportunities and resources for achieving  higher levels of success.  The system also utilizes these elements to assure completion of the actions required to achieve the desired results.



                                        </p><p>
                                            &nbsp;&nbsp;&nbsp;&nbsp;<a name="asap">ASAP</a>™ is a closed-loop system comprised of four integrated steps

                                            <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Assessment

                                            <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Strategy

                                            <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Actualization

                                            <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Progress Assessment



                                        </p><p>
                                            <b>Assessment</b>: Assessment of the need and opportunity for improvement.  This includes assessment of  both tangible and non-tangible resources. Goals are defined by the true internal desire of the participating parties, not the pseudo obligation of what one  should improve. When there is no apparent solution, or prior attempts have failed, creative thinking methods are used to identify hidden opportunities and resources. The creativity is kept grounded with realty checks within the following steps.

                                        </p><p>
                                            <b>Strategy</b>: This step uses the information gathered in the assessment to create a working agreement that is signed off on by all participating parties.  This agreement is an integrated plan of action consisting of five elements: Who, What, When, Where, and Why.

                                        </p><blockquote>
                                            <b><u>Who</u></b>, identifies the people that will perform the actions required to create the desired results. It also identifies others with whom interaction may be needed.

                                            <br><b><u>What</u></b>, defines what resources, what actions, and what objectives will constitute the action plan. To assure that the plan is do-able, each of these components are examined for truth and accuracy. Verification that the goal is defined by the real desire for improvement is also made.

                                            <br><b><u>When</u></b>, determines the time by  which specific actions will be completed as well as the schedule for progress assessment.

                                            <br><b><u>Where</u></b>, addresses any  variables  there may be about the best possible location for the actions to place.

                                            <br><b><u>Why</u></b>, unifies the passionate choice of individuals into a common objective by having each member identify their own reason for choosing to participate.

                                        </blockquote>

                                        <p>
                                            <b>Actualization</b>: "There is nothing left to do but to do". This step consists of the performance of the actions as defined by the strategy agreement.

                                        </p><p>
                                            <b>Progress Assessment</b>: Here the system becomes closed-looped by returning to Assessment and the succeeding steps. Results of actions taken are assessed for effectiveness. When results are unsatisfactory, the causes are identified, resources are  reassessed and changes are made in the strategy. Where needed, support mechanisms are added to address any barriers to change.  Successes are reviewed to maintain member enthusiasm and focus.

                                            <br>&nbsp;&nbsp;&nbsp;&nbsp;The process continues in this sequence until the objective is achieved. If difficulty is encountered in any one step it can be resolved by returning to one or more of the previous steps.



                                        </p><p>
                                            <a href="#top" class="">Return to Top</a>



                                        </p><p align="center">

                                            <font class="slogan">

                                                <b><a name="feeschedule">Our Fee Schedule</a></b>

                                            </font>

                                        </p><hr size="2" color="#000040">

                                        <p>
                                            &nbsp;&nbsp;&nbsp;&nbsp;Unlike most consulting services, where

                                            you are locked into a long term contract or a large per-project

                                            fee, we work on an as-needed basis. Our fee schedule allows you

                                            to select the schedule and services that best fit your time and

                                            budget requirements. You purchase only the services that fit your

                                            needs. This puts you in control of how much you pay in consulting

                                            fees and what services you use. <br>


                                            &nbsp;&nbsp;&nbsp;&nbsp;There is no fee for the initial evaluative

                                            session. The first session is an opportunity to get acquainted and

                                            explore the possibilities of how our services can be of value to

                                            you and your organization. If this sounds interesting to you, please

                                            contact us for an appointment at <a href="mailto:akp@highpointconsulting.net">akp@highpointconsulting.net</a>

                                            or call us at (559) 432-4726. We would love to hear from you.

                                        </p><p>
                                            <a href="#top" class="">Return to Top</a>



                                        </p><p align="center">

                                            <font class="slogan">

                                                <b>Free Needs And Opportunities Assessment</b>

                                            </font>

                                        </p><hr size="2" color="#000040">

                                        <p>
                                            &nbsp;&nbsp;&nbsp;&nbsp;There are times we don't have a clear or exact idea of what would improve the success of our business. We just have an intuitive sense that there are things that could be better. Other times we are certain of what needs to change but aren't sure of what actions to take. Sometimes we know where we want to get to and don't know exactly how to get there.

                                            <br>&nbsp;&nbsp;&nbsp;&nbsp;We know continual improvement is essential to competing in today's ever changing market. Yet we often lack the time or creativity to figure out a cost effective way to meet this challenge.

                                            <br>&nbsp;&nbsp;&nbsp;&nbsp;If any of this fits you, we can help! We offer a free Business Needs and Opportunities Assessment. It provides you with a series of well designed questions and conversation with a skilled facilitator that will:

                                        </p><ul>

                                            <li>Help organize your thinking</li>

                                            <li>Clarify your business and personal goals</li>

                                            <li>Identify hidden opportunities to make your business more of what you want it be.</li>

                                            <li>Enable you to expand your thinking about the possibilities of greater success for you and your business.</li>

                                        </ul>



                                        <p>
                                            There is no fee for this session and no financial or private information is

                                            required. It's a simple and convenient phone call of about 30 minutes.

                                            If this sounds interesting to you, please contact us for an appointment

                                            at <a href="mailto:arlin@highpointconsulting.net">arlin@highpointconsulting.net</a>

                                            or call us at (559) 432-4726. We would love to hear from you.

                                        </p><p>

                                        </p><center>
                                            STAFF

                                            <p>
                                                Our Founder and Chief Consultant

                                                <br>ARLIN K. PAULER

                                            </p>
                                        </center>

                                        <p>
                                            &nbsp;&nbsp;&nbsp;&nbsp;The founder and Chief Consultant of High Point Consulting is Arlin K. Pauler.  His  expertise is based on the hands-on experience of having been a business owner and worked as a consultant in a variety of industries.  He started his entrepreneurial career in 1960 with the start up of a landscape construction company.  Since that time, he has owned and successfully operated several businesses of various types.

                                            <br>&nbsp;&nbsp;&nbsp;&nbsp;Along with his diversity of expertise, Arlin brings to his work the essential human qualities of creativity, insight, compassion, inspiration and courage that empower people to succeed.

                                            <br>&nbsp;&nbsp;&nbsp;&nbsp;Through out his career he has researched the impact of human potential development on the growth and success of business.  He supplemented this applied research with formal education and training through workshops, internships, college course work and self-directed studies.  His studies focused on: Human Potential Psychology, Business Development, Marketing, Applied Creativity and Interpersonal Communication.

                                            <br>&nbsp;&nbsp;&nbsp;&nbsp;Since 1980, Arlin has been helping business leaders and their employees strengthen the success of their organizations and achieve greater personal fulfillment from their lives at work. His specialty is Strategic Planning, Human Resources Development, Executive Coaching and Alternative Marketing. His focus is on improved utilization of the knowledge and abilities within the people of the organization. He has worked with clients in a variety of industries including: automotive service, manufacturing, consulting, distribution, construction, advertising and many others.



                                        </p><p>
                                            <a href="#top" class="">Return to Top</a>

                                        </p><p>



                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table width="450" height="32" cellpadding="0" cellspacing="0" align="center">
                            <tbody>
                                <tr bgcolor="#000073">
                                    <td width="5"><img src="/images/nav-left.gif"></td>
                                    <td>&nbsp;</td>
                                    <td width="135" onclick="location.href='/Home/services#needsassessment'" align="center" class="topnav" nowrap="">Needs Assessment</td>
                                    <td width="135" onclick="location.href='/Home/about#asap'" align="center" class="topnav" nowrap="">Strategic Planning &amp; Implementation</td>
                                    <td width="135" onclick="location.href='/Home/services#quality'" align="center" class="topnav" nowrap="">Quality &amp; Productivity Improvement</td>
                                    <td>&nbsp;</td>
                                    <td width="5"><img src="/images/nav-right.gif"></td>
                                </tr>
                            </tbody>
                        </table>
                        <br>
                        <table width="400" height="32" cellpadding="0" cellspacing="0" align="center">
                            <tbody>
                                <tr bgcolor="#000073">
                                    <td width="5"><img src="/images/nav-left.gif"></td>
                                    <td>&nbsp;</td>
                                    <td width="90" onclick="location.href='/Home/services#marketing'" align="center" class="topnav" nowrap="">Marketing</td>
                                    <td width="90" onclick="location.href='/Home/services#leadershipdevelopment'" align="center" class="topnav" nowrap="">Leadership Development</td>
                                    <td width="90" onclick="location.href='/Home/about#teambuilding'" align="center" class="topnav" nowrap="">Team Building</td>
                                    <td width="90" onclick="location.href='/Home/about#motivation'" align="center" class="topnav" nowrap="">Motivation</td>
                                    <td>&nbsp;</td>
                                    <td width="5"><img src="/images/nav-right.gif"></td>
                                </tr>
                            </tbody>
                        </table>
                        <br>
                        <p>
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tbody>
                                    <tr>
                                        <td align="left" class="footer">
                                            Content Copyright © 2003 High Point Consulting
                                        </td>
                                        <td align="right" class="footer">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
    </html>

