@{
    ViewData["Title"] = "Home Page";
}

    <html>
    <head>
        <title>Employee Engagement - High Point Consulting</title>
        <meta name="keywords" content="employee engagement">
        <meta name="description" content="Employee engagement - fully engaged employees increases revenue growth, sales, customer retention and profit margins.">
        <meta name="google-site-verification" content="xB1NIT8HLWdYQuY1UyxIB5-N-kNojccBGi1nBCeNxMc">
        <style>
            <!--
            td {
                font: normal 14pt Arial;
            }

            a:link {
                color: blue;
            }

            a:visited {
                color: blue;
            }

            a:hover {
                color: blue;
            }

            a:active {
                color: blue;
            }

            .big {
                font: bold 18pt Arial;
            }

            .style1 {
                color: #FFFFFF
            }
            -->
        </style>
    </head>
    <body bgcolor="white">
        <table width="910" height="100%" cellpadding="0" cellspacing="0" border="0" align="center">
            <tbody>
                <tr>
                    <td align="center" valign="middle">
                        <p>
                            
                            <a asp-area="" asp-controller="Home" asp-action="main"><img src="/images/biglogo.png" width="233" height="114" border="0" alt="employee engagement"></a>
                        </p><p style="font-size:14px; color:000073;">HELPING PEOPLE AND ORGANIZATIONS THRIVE</p>
                        <h1 style="color:000073; font-size:24px; "><br>How critical are fully engaged employees to your success?</h1>
                        <table width="910" border="0" cellspacing="0" cellpadding="10">
                            <tbody>
                                <tr>
                                    <td>
                                        <p style="font-size:20px; color:cc6600;  ">Having an engaged workforce increases*: </p>
                                        <ul style="font-size:20px; color:cc6600;"><li>Revenue Growth By 15%</li><li>Average Sales By 17%</li><li>Customer Retention By 17%</li><li>Profit Margins By 18% </li></ul>
                                        <p style="font-size:9px; color:#696969; font-style:italic;"><a href="http://www.demandmetric.com/content/employee-engagement-benchmark-report" target="_blank">* Employee Engagement Benchmark Report</a></p>

                                        <p style="font-size:16px;">Developing and retaining fully engaged employees, who work together as a team to fulfill your vision, is a major challenge in today's business environment. A work environment that supports people to be at the top of their game is essential. How you meet this critical challenge is key to the success of your vision.</p>
                                    </td>
                                    <td>
                                        <p align="center">
                                            <video width="370" height="208" title="There Is A Better Way" poster="/images/there-is-a-better-way_title.png" preload="none" controls="">
                                                <source src="/images/There Is A Better Way.mp4" type="video/mp4">
                                                Your Browser doen't support HTML5 video
                                            </video>
                                        </p>
                                        <p style="font-size:16px; color:000073; font-weight:bold; text-align:center;">Watch this video for a better understanding of what employee engagement means for you.</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <p>
                            <br>
                            <a href="/Home/services#coreservices"><img src="/images/bluesplashbutton1.gif" width="110" height="78" border="0" alt="employee engagement"></a>&nbsp;&nbsp;&nbsp;
                            <a href="/Home/main"><img src="/images/bluesplashbutton2.gif" width="110" height="78" border="0" alt="employee engagement"></a>&nbsp;&nbsp;&nbsp;
                            <a href="/Home/services"><img src="/images/bluesplashbutton3.gif" width="110" height="78" border="0" alt="employee engagement"></a><span class="style1">&nbsp;&nbsp;&nbsp;</span>
                            <a href="/Home/services"><img src="images/bluesplashbutton4.gif" alt="contact high point counsulting" width="110" height="78" border="0"></a>
                        </p>
                        <br><p style="font-size:16px;">Our mission is to help organizations and people optimize productivity and quality of life<br>at work through employee engagement.</p>
                        <p> <a href="/Home/about" class="big">Enter</a> </p>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
    </html>
