
@{
    ViewData["Title"] = "services";
}

    <html>
    <head>

        <title>High Point Consulting</title>



        <style>
            <!--
            body {
                margin: 0px;
            }

            td {
                font: normal 10pt Verdana;
                color: #000040;
            }

            .main {
                font: normal 10pt Verdana;
                color: #000040;
            }

            .nav {
                font: normal 14pt Arial;
                color: white;
            }

            .topnav {
                font: bold 7pt Tahoma;
                color: white;
            }

            .slogan {
                font: normal 12pt Arial;
                color: #000040;
            }

            .clients {
                font: bold 12pt Arial;
                color: #000070;
                text-decoration: underline;
            }

            a.nav:link {
                text-decoration: none;
                color: white;
            }

            a.nav:visited {
                text-decoration: none;
                color: white;
            }

            a.nav:hover {
                text-decoration: none;
                color: white;
            }

            a.nav:active {
                text-decoration: none;
                color: white;
            }

            a:link {
                color: blue;
            }

            a:visited {
                color: blue;
            }

            a:hover {
                color: blue;
            }

            a:active {
                color: blue;
            }

            .quotes {
                font: bold 11pt Arial;
                color: #00040;
            }

            .footer {
                font: normal 7pt Tahoma;
            }
            -->
        </style>

        <script async="" src="//www.google-analytics.com/analytics.js"></script>
        <script>
<!--
function mouseovertd (o){
	o.style.borderStyle="solid";
	o.style.background="#000073";
	o.style.cursor="hand";
	o.style.borderColor="white";
}

function mouseouttd (o){
	o.style.background="#FF8C00";
	o.style.borderColor="#FF8C00";
}
-->
        </script>

    </head>

    <body bgcolor="white">
        <table width="800" height="100%" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                    <td width="140" align="right" valign="top" bgcolor="#FF8C00">
                        <img src="/images/hpca.png" width="122" height="122"><p>
                            <table width="100%" height="100%" cellpadding="2" cellspacing="0">
                                <tbody>
                                    <tr height="160">
                                        <td align="center" valign="top">
                                            <table width="100%" cellpadding="5" border="1" bordercolor="#FF8C00">
                                                <tbody>
                                                    <tr height="20"><td align="center" onmouseout="mouseouttd(this)" onmouseover="mouseovertd(this)" onclick="javascript:location.href='/Home/main'"><a href="/Home/main" class="nav">Home Page</a></td></tr>
                                                    <tr height="20"><td align="center" onmouseout="mouseouttd(this)" onmouseover="mouseovertd(this)" onclick="javascript:location.href='/Home/services'"><a href="/Home/services" class="nav">Our Services</a></td></tr>
                                                    <tr height="20"><td align="center" onmouseout="mouseouttd(this)" onmouseover="mouseovertd(this)" onclick="javascript:location.href='/Home/about'"><a href="/Home/about" class="nav">About Us</a></td></tr>
                                                    <tr height="20"><td align="center" onmouseout="mouseouttd(this)" onmouseover="mouseovertd(this)" onclick="javascript:location.href='/Home/services'"><a href="/Home/services" class="nav">Contact Us</a></td></tr>
                                                    <!--
                                                <tr height=20><td align=right onmouseout="mouseouttd(this)" onmouseover="mouseovertd(this)" onclick="javascript:location.href='mailto:coach@theworks.com'"><a href="mailto:coach@theworks.com" class=nav>Contact Us</a></td></tr>
                                                <tr height=20><td align=right onmouseout="mouseouttd(this)" onmouseover="mouseovertd(this)" onclick="javascript:location.href='/sites/'"><a href="/sites/" class=nav>web sites</a></td></tr>
                                                -->
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr height="500">
                                        <td align="center" valign="middle">
                                            <table width="95%" cellpadding="5" cellspacing="0" border="2" bordercolor="#000073">
                                                <tbody>
                                                    <tr>
                                                        <td bgcolor="white" align="center" class="quotes">
                                                            <script language="JavaScript">
			<!--
			var randomnumber=Math.floor(Math.random()*18);
			if (randomnumber==0)
			{
			document.writeln("\"Securing profitability and personal fulfillment\"");
			}
			else if (randomnumber==1)
			{
			document.writeln("\"A business is only as successful as the success of it's people\"");
			}
			else if (randomnumber==2)
			{
			document.writeln("\"Many opportunities for improvement are hidden, what we do is turn on the light\"");
			}
			else if (randomnumber==3)
			{
			document.writeln("\"Top performing people make for a top performing company\"");
			}
			else if (randomnumber==4)
			{
			document.writeln("\"Success begins with leadership. Great success begins with great leadership\"");
			}
			else if (randomnumber==5)
			{
			document.writeln("\"Improved success begins with improved leadership\"");
			}
			else if (randomnumber==6)
			{
			document.writeln("\"New resources create new opportunities\"");
			}
			else if (randomnumber==7)
			{
			document.writeln("\"The best ideas about how to improve performance come from the people who do the performing\"");
			}
			else if (randomnumber==8)
			{
			document.writeln("\"Combining a skilled outside perspective and a focus on coaching the potential within people, we are able to achieve results otherwise not possible.\"");
			}
			else if (randomnumber==9)
			{
			document.writeln("\"It doesn't have to be broke to make it better\"");
			}
			else if (randomnumber==10)
			{
			document.writeln("\"Most any consulting organization can help you make more money. We can help you be more successful.\"");
			}
			else if (randomnumber==11)
			{
			document.writeln("\"We don't just help you build a more successful business, we help you become a more successful human being.\"");
			}
			else if (randomnumber==12)
			{
			document.writeln("\"The key to business success is to be a successful human being\"");
			}
			else if (randomnumber==13)
			{
			document.writeln("\"To make a living is no longer enough. Work has to make a life.\"<br>-Peter Drucker Management Expert.");
			}
			else if (randomnumber==14)
			{
			document.writeln("\"Embodied in the people of every organization is a great wealth of under-utilized talent, passion and creativity that can be used to keep the organization at the High Point of its performance.\"");
			}
			else if (randomnumber==15)
			{
			document.writeln("\"Any business Plan that does not incorporate the Higher Aspirations of the people needed to execute the plan is incomplete.\"");
			}
			else if (randomnumber==16)
			{
			document.writeln("\"Creating a corporate climate where people develop their potential is a significant and lasting contribution to all society.\"<br>-Judith A. Redwine, Chancellor - State Center Community College District");
			}
			else if (randomnumber==17)
			{
			document.writeln("\"The ability to learn faster than your competitors may be the only sustainable competitive advantage.\"<br>-Arie De Geus, Royal Dutch Shell");
			}
			-->
                                                            </script>"Embodied in the people of every organization is a great wealth of under-utilized talent, passion and creativity that can be used to keep the organization at the High Point of its performance."

                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center" valign="middle">
                                            <table width="95%" cellpadding="5" cellspacing="0" border="2" bordercolor="#000073">
                                                <tbody>
                                                    <tr>
                                                        <td bgcolor="white" align="center" class="quotes">
                                                            <script language="JavaScript">
			<!--
			var randomnumber=Math.floor(Math.random()*18);
			if (randomnumber==0)
			{
			document.writeln("\"Securing profitability and personal fulfillment\"");
			}
			else if (randomnumber==1)
			{
			document.writeln("\"A business is only as successful as the success of it's people\"");
			}
			else if (randomnumber==2)
			{
			document.writeln("\"Many opportunities for improvement are hidden, what we do is turn on the light\"");
			}
			else if (randomnumber==3)
			{
			document.writeln("\"Top performing people make for a top performing company\"");
			}
			else if (randomnumber==4)
			{
			document.writeln("\"Success begins with leadership. Great success begins with great leadership\"");
			}
			else if (randomnumber==5)
			{
			document.writeln("\"Improved success begins with improved leadership\"");
			}
			else if (randomnumber==6)
			{
			document.writeln("\"New resources create new opportunities\"");
			}
			else if (randomnumber==7)
			{
			document.writeln("\"The best ideas about how to improve performance come from the people who do the performing\"");
			}
			else if (randomnumber==8)
			{
			document.writeln("\"Combining a skilled outside perspective and a focus on coaching the potential within people, we are able to achieve results otherwise not possible.\"");
			}
			else if (randomnumber==9)
			{
			document.writeln("\"It doesn't have to be broke to make it better\"");
			}
			else if (randomnumber==10)
			{
			document.writeln("\"Most any consulting organization can help you make more money. We can help you be more successful.\"");
			}
			else if (randomnumber==11)
			{
			document.writeln("\"We don't just help you build a more successful business, we help you become a more successful human being.\"");
			}
			else if (randomnumber==12)
			{
			document.writeln("\"The key to business success is to be a successful human being\"");
			}
			else if (randomnumber==13)
			{
			document.writeln("\"To make a living is no longer enough. Work has to make a life.\"<br>-Peter Drucker Management Expert.");
			}
			else if (randomnumber==14)
			{
			document.writeln("\"Embodied in the people of every organization is a great wealth of under-utilized talent, passion and creativity that can be used to keep the organization at the High Point of its performance.\"");
			}
			else if (randomnumber==15)
			{
			document.writeln("\"Any business Plan that does not incorporate the Higher Aspirations of the people needed to execute the plan is incomplete.\"");
			}
			else if (randomnumber==16)
			{
			document.writeln("\"Creating a corporate climate where people develop their potential is a significant and lasting contribution to all society.\"<br>-Judith A. Redwine, Chancellor - State Center Community College District");
			}
			else if (randomnumber==17)
			{
			document.writeln("\"The ability to learn faster than your competitors may be the only sustainable competitive advantage.\"<br>-Arie De Geus, Royal Dutch Shell");
			}
			-->
                                                            </script>"The best ideas about how to improve performance come from the people who do the performing"

                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </p>
                    </td>
                    <td width="12" valign="top" background="/images/shadow.png">
                        <img src="/images/hpcb.png" width="12" height="122">
                    </td>
                    <td align="left" valign="top">
                        <table width="100%" cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td width="100" align="left">
                                        <img src="/images/hpcc.png" width="116" height="122">
                                    </td>
                                    <td align="center" valign="middle">
                                        <table width="450" height="32" cellpadding="0" cellspacing="0" align="center">
                                            <tbody>
                                                <tr bgcolor="#000073">
                                                    <td width="5"><img src="/images/nav-left.gif"></td>
                                                    <td>&nbsp;</td>
                                                    <td width="135" onclick="location.href='/Home/services#needsassessment'" align="center" class="topnav" nowrap="">Needs Assessment</td>
                                                    <td width="135" onclick="location.href='/Home/about#asap'" align="center" class="topnav" nowrap="">Strategic Planning &amp; Implementation</td>
                                                    <td width="135" onclick="location.href='/Home/services#quality'" align="center" class="topnav" nowrap="">Quality &amp; Productivity Improvement</td>
                                                    <td>&nbsp;</td>
                                                    <td width="5"><img src="/images/nav-right.gif"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <br>
                                        <table width="400" height="32" cellpadding="0" cellspacing="0" align="center">
                                            <tbody>
                                                <tr bgcolor="#000073">
                                                    <td width="5"><img src="/images/nav-left.gif"></td>
                                                    <td>&nbsp;</td>
                                                    <td width="90" onclick="location.href='/Home/services#marketing'" align="center" class="topnav" nowrap="">Marketing</td>
                                                    <td width="90" onclick="location.href='/Home/services#leadershipdevelopment'" align="center" class="topnav" nowrap="">Leadership Development</td>
                                                    <td width="90" onclick="location.href='/Home/about#teambuilding'" align="center" class="topnav" nowrap="">Team Building</td>
                                                    <td width="90" onclick="location.href='/Home/about#motivation'" align="center" class="topnav" nowrap="">Motivation</td>
                                                    <td>&nbsp;</td>
                                                    <td width="5"><img src="/images/nav-right.gif"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <br>
                        <table width="98%" cellpadding="0" cellspacing="0" align="center">
                            <tbody>
                                <tr>
                                    <td align="left" valign="top" class="main">




                                        <p align="center">

                                            <font class="slogan">

                                                <b>What Our Services Can Do For You</b>

                                            </font>

                                        </p><hr size="2" color="#000040">

                                        <p>
                                            &nbsp;&nbsp;&nbsp;&nbsp;Consulting focuses on the use of <u>information and systems</u> to improve business success. Coaching focuses on the <u>performance of people</u> to improve business success. Both are essential to keeping your business at the <i><u>High Point</u></i> of it's performance. The <a href="/Home/about#ourmethods">High Point Consulting System™</a> is a unique and powerful combination of both consulting and coaching methods. It provides you with an innovative and highly effective means of:

                                        </p><ul>

                                            <li>Assessing needs</li>

                                            <li>Identifying opportunities</li>

                                            <li>Developing action plans</li>

                                            <li>Achieving results</li>

                                        </ul>

                                        <p>
                                            &nbsp;&nbsp;&nbsp;&nbsp;It is a flexible system that allows us to create a solution that fits your needs exactly. We can use it to help you address a single issue or make continues improvement a integral part of the way your organization does business.

                                        </p><p>
                                            &nbsp;&nbsp;&nbsp;&nbsp;The optimum success of your business, in today's ever changing environment, is determined by how well you utilize your human assets. Every human being has within them an untapped potential of under-utilized talent, passion and creativity that can be harnessed to improve business performance. This is the <a href="about.shtml#humanpotentialfactor">Human Potential Factor</a> of business success. The High Point Consulting System™ has been designed specifically for harnessing this potential within the people of your organization and using it to take your business to the next level of success.

                                        </p><p>
                                            &nbsp;&nbsp;&nbsp;&nbsp;All of our services are based the <a href="/Home/about#cca">Client Centered Approach</a>. The methods we use and business areas we work with you on are determined by your individual situation and the goals and aspirations you have for your business. The <a href="/Home/about#cca">Client Centered Approach</a> assures you that we are responding to your needs and are focused on what is most important to you about the success of your business.



                                        </p><p align="center">
                                            <b><a name="coreservices">The goal of our work is to help you make your<br>business more of what you want it to be.</a></b>

                                        </p><p>
                                            <a href="#top" class="">Return to Top</a>

                                        </p>
                                    </td>

                                    <td width="8">&nbsp;</td>

                                    <td width="170" valign="top">

                                        <p>&nbsp;</p>

                                        <table width="98%" border="1" cellpadding="5" cellspacing="0" bordercolor="silver" bgcolor="">

                                            <tbody>
                                                <tr>

                                                    <td align="center" valign="middle">
                                                        <b class="quotes">
                                                            <font size="+1">
                                                                Contact <br>

                                                                Highpoint Consulting
                                                            </font>
                                                        </b>

                                                        <p>
                                                            Phone: 559.432.4776<br>

                                                            <br>

                                                            <strong class="nav"><a href="mailto:akp@highpointconsulting.net" class="topnav"><font color="#000033" size="4">Click to send Email</font></a> </strong>
                                                        </p>
                                                    </td>

                                                </tr>

                                            </tbody>
                                        </table>

                                        <p>&nbsp;</p>

                                        <p>&nbsp;</p>

                                        <table width="100%" cellpadding="5" cellspacing="0" border="1" bordercolor="silver">

                                            <tbody>
                                                <tr>

                                                    <td align="center" valign="middle">

                                                        <b>Free Needs And Opportunities Assessment<p>If you are not sure of what your business needs are or how to get where you want to go, we can help!</p></b><p>
                                                            <b><a href="#needsassessment">Click here to learn more.</a></b>

                                                        </p>
                                                    </td>

                                                </tr>

                                            </tbody>
                                        </table>

                                    </td>

                                </tr>

                                <tr>

                                    <td>

                                        <br>

                                        <p align="center">

                                            <font class="slogan">

                                                <b>Our Core Services</b>

                                            </font>

                                        </p><hr size="2" color="#000040">

                                        <p>
                                            <u>Business Growth and Development</u>

                                        </p><p>
                                            &nbsp;&nbsp;&nbsp;&nbsp;To meet the challenges of today's competitive marketplace, business leaders must continuously seek out opportunities to grow and develop their business. As the leader of your organization, you need to be proactive in identifying opportunities for growth that will:

                                        </p><ul>

                                            <li>add value to your products and services</li>

                                            <li>improve the efficiency of your organization</li>

                                            <li>inspire and motivate both you and your employees</li>

                                        </ul>

                                        <p>
                                            This is not only essential to maintaining your market share and profitability, it is also the key to building your owner equity.

                                        </p><p>
                                            &nbsp;&nbsp;&nbsp;&nbsp;Each of your employees has within them an untapped potential of under-utilized talent, passion and creativity that can be harnessed to improve the performance of your business. This is the <a href="about.shtml#humanpotentialfactor">Human Potential Factor</a> of business success. The <a href="about.shtml#cca">High Point Consulting System</a> has been designed specifically for harnessing this potential within the people of your organization and using it to take your business to the next level of success.

                                        </p><p align="center">
                                            <a href="/Home/about#ourmethods">The High Point Consulting System™</a>

                                            <br>is a powerful and highly effective tool for identifying and implementing opportunities for growth that will keep your business at the High Point of success.



                                        </p>
                                    </td>

                                    <td width="8">&nbsp;</td>

                                    <td width="170" valign="top">
                                        <table width="100%" cellpadding="5" cellspacing="0" border="1" bordercolor="silver">

                                            <tbody>
                                                <tr>

                                                    <td align="center" valign="middle">
                                                        <b>
                                                            Contact <br>

                                                            Highpoint Consulting
                                                        </b>

                                                        <p>
                                                            Phone: 559.432.4776<br>

                                                            <br>

                                                            <strong class="nav"><a href="mailto:akp@highpointconsulting.net" class="topnav"><font color="#000033" size="2">Click to send Email</font></a></strong>
                                                        </p>
                                                    </td>

                                                </tr>

                                            </tbody>
                                        </table>

                                        <p>&nbsp;</p>

                                        <table width="100%" height="450" cellpadding="0" cellspacing="0" border="1" bordercolor="silver">

                                            <tbody>
                                                <tr>

                                                    <td align="center" valign="middle">

                                                        <font class="clients">Our Clients</font>

                                                        <hr size="2" width="92%" color="silver">

                                                        <img src="/images/photo-ca_ag_quest.jpg">

                                                        <br><img src="/images/photo-pnm_machining.jpg">

                                                        <br><img src="/images/photo-heintz_business_management.jpg">

                                                        <br><img src="/images/BK_TEKA_front .jpg">

                                                    </td>

                                                </tr>

                                            </tbody>
                                        </table>

                                    </td>

                                </tr>

                                <tr>

                                    <td colspan="3">
                                        <p>&nbsp;</p>

                                        <p><u><a name="marketing">Alternative Marketing</a></u></p>

                                        <p>
                                            &nbsp;&nbsp;&nbsp;&nbsp;The foundation of cost effective marketing for any business is an innovative and well thought out Marketing Action Plan (MAP). One that is designed around the unique market qualities and strengths of your organization and fits your monetary resources.

                                        </p><p>
                                            &nbsp;&nbsp;&nbsp;&nbsp;Alternative Marketing™ harnesses the creativity and skills of the people within your organization rather than relying primarily on outside resources. Alternative Marketing™ emphasizes building relationships that foster loyalty and motivate customers and others to promote your business. Instead of being solely dependent on advertising, you are able to rely on less expensive methods of educating the public. The focus is on development and implementation of a Marketing Action Plan (MAP) that provides you with a powerful and innovative method of:

                                        </p><ul>

                                            <li>Increasing sales to your current customer base</li>

                                            <li>Identifying new market opportunities</li>

                                            <li>Promoting referrals and "word of mouth advertising".</li>

                                        </ul>

                                        <p>
                                            This provides you, even on a limited budget, with a dependable and cost effective method of increasing the profitability and volume of your sales.



                                        </p><p align="center">
                                            <b>Alternative Marketing™ provides you with a proactive and systematic approach to meeting the challenges of today's highly competitive market place.</b>



                                        </p><p>
                                            <u><a name="leadershipdevelopment">Executive Coaching</a></u>

                                        </p><p>
                                            &nbsp;&nbsp;&nbsp;&nbsp;<i>Text Pending</i>



                                        </p><p>
                                            <u><a name="quality">Human Resources Development</a></u>

                                        </p><p>
                                            &nbsp;&nbsp;&nbsp;&nbsp;All aspects of business success, from marketing to operations and administration, are wholly dependent on the performance of people and the uniquely human attributes only they can provide. The optimum success of your business, in today's ever changing environment, is determined by how well you develop and utilize your human resources. Development of the knowledge, skills and passion of your people has become essential to staying at the top of your game and competitive in today's market place.

                                        </p><p>
                                            &nbsp;&nbsp;&nbsp;&nbsp;Our Integrated Training System™ enables you to make development of your human resources an integral part of the daily work activity of your organization. The emphasis of our training methods is on learning while working not while in the abstract setting of a seminar or training session. Self directed development is a key feature of this system. All of our training presentations incorporate this unique feature and focus on taking the training experience back to the work place to be applied and integrated into the trainee's performance. Follow up is used to address variables and assure performance improvement.



                                        </p><p align="center">
                                            <b>Our Integrated Training System™ provides you with a less expensive and much more effective way for your people to acquire knowledge, lean new skills and improve their performance.</b>



                                        </p><p>
                                            <a href="#top" class="">Return to Top</a>



                                        </p><p align="center">

                                            <font class="slogan">

                                                <b>Specialty Service Offerings</b>

                                            </font>

                                        </p><hr size="2" color="#000040">

                                        <p>
                                            &nbsp;&nbsp;&nbsp;&nbsp;Following is a list of the specialty areas

                                            in which we can help you grow your business, improve its profitability

                                            and achieve greater personal fulfillment from life at work. For

                                            more specific information and the details on solutions that will

                                            be an exact fit for your needs, contact us at <a href="mailto:arlin@highpointconsulting.net">akp@highpointconsulting.net</a>

                                            or call (559) 432-4726.

                                        </p><p>

                                            <table width="500" cellpadding="5">

                                                <tbody>
                                                    <tr>

                                                        <td width="50%">Needs Assessment</td>
                                                        <td width="50%">Work / Life Balance Initiatives</td>

                                                    </tr>
                                                    <tr>

                                                        <td>Strategic Planning</td>
                                                        <td>Continues Quality Improvement</td>

                                                    </tr>
                                                    <tr>

                                                        <td>Alternative Marketing</td>
                                                        <td>Coaching / Mentoring Training</td>

                                                    </tr>
                                                    <tr>

                                                        <td>Creative Problem Solving</td>
                                                        <td>Progressive Labor Relations</td>

                                                    </tr>
                                                    <tr>

                                                        <td>Team Building</td>
                                                        <td>Individual and Organizational Performance Improvement</td>

                                                    </tr>
                                                    <tr>

                                                        <td>Applied Creativity</td>
                                                        <td>Conflict Resolution Facilitation and Training</td>

                                                    </tr>
                                                    <tr>

                                                        <td>Time Management Training</td>
                                                        <td>Customer Relations Management Training</td>

                                                    </tr>
                                                    <tr>

                                                        <td>Communication Skills Development</td>
                                                        <td> </td>

                                                    </tr>
                                                    <tr>

                                                        <td>Leadership Development</td>
                                                        <td> </td>

                                                    </tr>
                                                    <tr>

                                                        <td>Motivation Skills Development</td>

                                                    </tr>

                                                </tbody>
                                            </table>



                                        </p><p>
                                            <a href="#top" class="">Return to Top</a>



                                        </p><p align="center">

                                            <font class="slogan">

                                                <b><a name="needsassessment">Free Needs And Opportunities Assessment</a></b>

                                            </font>

                                        </p><hr size="2" color="#000040">

                                        <p>
                                            &nbsp;&nbsp;&nbsp;&nbsp;There are times we don't have a clear or exact idea of what would improve the success of our business. We just have an intuitive sense that there are things that could be better. Other times we are certain of what needs to change but aren't sure of what actions to take. Sometimes we know where we want to get to and don't know how to get there. All successful business leaders know that even highly successful organizations have opportunity to improve and that continual improvement is essential to competing in today's market.

                                        </p><p>
                                            &nbsp;&nbsp;&nbsp;&nbsp;If any of this fits you, we can help! We offer a free Business Needs and Opportunities Assessment. It provides you with a series of well designed questions and conversation with a skilled facilitator that will identify hidden opportunities to make your business more of what you want it be.

                                        </p><p>
                                            &nbsp;&nbsp;&nbsp;&nbsp;It opens up new ways of thinking about the possibilities of greater success for you and your business.

                                        </p><p>
                                            &nbsp;&nbsp;&nbsp;&nbsp;There is no fee for this session and no

                                            financial or private information is required. It's a simple and

                                            convenient phone call of about 30 minutes. If this sounds interesting

                                            to you, please contact us to set up an appointment at <a href="mailto:akp@highpointconsulting.net">akp@highpointconsulting.net</a>              or call us at (559) 432-4726. We would love to hear from you. <br>



                                        </p><p>
                                            <a href="#top" class="">Return to Top</a>



                                        </p><p>



                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table width="450" height="32" cellpadding="0" cellspacing="0" align="center">
                            <tbody>
                                <tr bgcolor="#000073">
                                    <td width="5"><img src="/images/nav-left.gif"></td>
                                    <td>&nbsp;</td>
                                    <td width="135" onclick="location.href='/Home/services#needsassessment'" align="center" class="topnav" nowrap="">Needs Assessment</td>
                                    <td width="135" onclick="location.href='/Home/about#asap'" align="center" class="topnav" nowrap="">Strategic Planning &amp; Implementation</td>
                                    <td width="135" onclick="location.href='/Home/services#quality'" align="center" class="topnav" nowrap="">Quality &amp; Productivity Improvement</td>
                                    <td>&nbsp;</td>
                                    <td width="5"><img src="/images/nav-right.gif"></td>
                                </tr>
                            </tbody>
                        </table>
                        <br>
                        <table width="400" height="32" cellpadding="0" cellspacing="0" align="center">
                            <tbody>
                                <tr bgcolor="#000073">
                                    <td width="5"><img src="/images/nav-left.gif"></td>
                                    <td>&nbsp;</td>
                                    <td width="90" onclick="location.href='/Home/services#marketing'" align="center" class="topnav" nowrap="">Marketing</td>
                                    <td width="90" onclick="location.href='/Home/services#leadershipdevelopment'" align="center" class="topnav" nowrap="">Leadership Development</td>
                                    <td width="90" onclick="location.href='/Home/about#teambuilding'" align="center" class="topnav" nowrap="">Team Building</td>
                                    <td width="90" onclick="location.href='/Home/about#motivation'" align="center" class="topnav" nowrap="">Motivation</td>
                                    <td>&nbsp;</td>
                                    <td width="5"><img src="/images/nav-right.gif"></td>
                                </tr>
                            </tbody>
                        </table>
                        <br>
                        <p>
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tbody>
                                    <tr>
                                        <td align="left" class="footer">
                                            Content Copyright © 2003 High Point Consulting
                                        </td>
                                        <td align="right" class="footer">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
    </html>
